body, html{
    font-size: 16px;
    background-color: rgb(116, 196, 129);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}


.container {
    width: 80%;
    max-width: 90rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(83, 141, 83);
}


.goods {
    padding: 15px;
}


.good {
    margin: 0;
    padding: 15px 15px;
    border: 1px solid #c6c6c6;
    border-radius: 3%;
    cursor: pointer;
    transition: 1s;
}


.good-price {
    color: red;
    font-style: italic;
    font-weight: bolder;
}


.good-name {
    font-size: 1rem;
    font-weight: bold;
}


.article {
    padding-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
}    
    


.link-to-phones {
    transition: .3s;
    color: black;
}


.link-to-phones:hover {
    font-size: 3.2rem;
    text-decoration: underline;
    color: red
}  


.good-description {
    display: none;
    font-style: italic;
}



.good:hover .good-description {
    display: block;
}


.good:hover {
    z-index: 1;
    box-shadow: 8px 4px 7px rgb(0, 0, 0);
    transform: scale(1.05);
}


.good img {
    transition: 1s;
}


.good img:hover {
    transform: scale(1.4);
}


.sale {
    display: inline-block;
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
    cursor: pointer;
    transition: 3s;
}


.sale .glyphicon-leaf {
    font-size: 4rem;
    color: rgb(231, 80, 9);
}


.add-to-cart {
    display: inline-block;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    cursor: pointer;
    transition: 3s
}        


.add-to-cart .glyphicon-shopping-cart {
    font-size: 2.4rem;
    color: black;
}


.add-to-cart:hover {
    transform: rotate(90deg);
}


.sale:hover {
    transform: translate(0, 5rem);
}


.go-top {
    position: fixed;
    margin-top: -1.1rem;
    padding: .5rem 1.2rem;
    top: 50%;
    right: 0;
    color: black;
    background-color: red;
    border: 1px solid black;
    border-top-left-radius: .3rem ;
    border-bottom-left-radius: .3rem;
    cursor: pointer;
    z-index: 2;
}
